@font-face {
  font-family: "iconfont"; /* Project id 4479884 */
  src: url('//at.alicdn.com/t/c/font_4479884_atcx1c5urw.woff2?t=1714659728608') format('woff2'),
  url('//at.alicdn.com/t/c/font_4479884_atcx1c5urw.woff?t=1714659728608') format('woff'),
  url('//at.alicdn.com/t/c/font_4479884_atcx1c5urw.ttf?t=1714659728608') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danmu:before {
  content: "\e601";
}

.icon-zhankai:before {
  content: "\e797";
}

.icon-bofang:before {
  content: "\e66e";
}

.icon-aixin1:before {
  content: "\eca1";
}

.icon-tupian:before {
  content: "\e6ac";
}

.icon-aite1:before {
  content: "\e68c";
}

.icon-xihuan:before {
  content: "\e610";
}

.icon-aite:before {
  content: "\e639";
}

.icon-xiaolian:before {
  content: "\e600";
}

.icon-w_biaoqing:before {
  content: "\e665";
}

.icon-biaoqing:before {
  content: "\e623";
}

.icon-a-043_biaoqing:before {
  content: "\e6e0";
}

.icon-houtui1:before {
  content: "\e613";
}

.icon-houtui:before {
  content: "\e604";
}

.icon-fenxiang:before {
  content: "\e614";
}

.icon-fenxiang1:before {
  content: "\e65a";
}

.icon-fenxiang2:before {
  content: "\e61b";
}

.icon-input:before {
  content: "\e663";
}

.icon-input1:before {
  content: "\e62e";
}

.icon-shuru:before {
  content: "\e68f";
}

.icon-back:before {
  content: "\e6db";
}

.icon-pinglun-:before {
  content: "\e60a";
}

.icon-pinglun-1:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e60c";
}

.icon-a-fenxianglianjie:before {
  content: "\e637";
}

.icon-loada:before {
  content: "\e82e";
}

.icon-aixin:before {
  content: "\e622";
}

.icon-search:before {
  content: "\e659";
}

.icon-menu:before {
  content: "\e6c8";
}

.icon-jia:before {
  content: "\e609";
}
